<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
</head>
    <body>
        <h1>Single Order</h1>
        <h2>Single Order {{ index|int }}</h2>

        <p>
        {{ order.customer_name }}
        </p>
        <p>
        {{ order.order_date }}
        </p>
        <p>
        {{ order.quantity }}
        </p>
        {# {% for order in order_list %}
            {% if loop.index == index %}
                <p> {{ order.customer_name }}</p>
            {% endif %}
        {% endfor %} #}
    


        

    </body>
</html>